        <h2 align="center" >Mobile Protocol</h2>
        <h4  align="center" >Οίκοθεν</h4>

                <div class="form-group">
                    <label >Θέμα Οίκοθεν</label>
                    <input type="text" class="form-control" ng-model="subjectOik" aria-describedby="emailHelp" placeholder="Θέμα">
                    <small id="themeHelp" class="form-text text-muted">Βοηθητικό κείμενο.</small>
                </div>

                <div  class="form-group">
                    <label>Αποδέκτης</label>
                    <input list="names" class="form-control" ng-model="receiverOik" placeholder="Αποδέκτης" />
                    <datalist id="names" >  
                        <option  ng-repeat="x in senders">{{x.name}}</option>
                    </datalist>
                </div>

                <label>Ημερομηνία εξόδου</label>
                <input id="datepicker" width="276" type="text" placeholder = "Ημερομηνία εξαγωγής" ng-model="outDayOik"/>
                <script>
                           $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap4',
                            format: 'dd/mm/yyyy'
                        });
     
                </script>
                <div class="form-group"  ng-hide = "numOik">
                    <label >Αριθμός πρωτοκόλου</label>
                    <input type="text" class="form-control" ng-model="numberOik"  placeholder="Αριθμός Πρωτοκόλου">       
              </div>
                <div align="center">
                    <button class="btn btn-primary" ng-click= "oikothen()" >Δημιουργία Οίκοθεν Αρχείου</button>
                </div>
                <hr/ ng-hide="fileOik">
                <form method="POST" enctype="multipart/form-data" ng-hide="fileOik" action="http://localhost:8080/api/upload/">
                        <table>
                            <tr><td >Επισύναψη αρχείου:</td><td><input type="file" name="file" ng-hide="file" /></td></tr>
                            <tr><td></td><td><input type="submit"  ng-click= "ProtNum()" formtarget="_blank" onclick="window.location.replace='#!oikothen';" value="Upload"/></td></tr>
                        </table>
                </form>
                <hr/ ng-hide="fileOik">
