        <h2 align="center" >Mobile Protocol</h2>
        <h4  align="center" >Εξερχόμενο</h4>

            <div align="center">
                <hr/>
                <a class="btn btn-primary" href="#!outgoing" role="button">Εξερχόμενο</a>
                <a class="btn btn-primary" href="#!oikothen" role="button">Οίκοθεν</a>
                <a class="btn btn-primary" href="#!home" role="button">Εισερχόμενο</a>
                <a class="btn btn-primary" href="#!update" role="button">Ενημέρωση πρωτόκολου</a>
                <hr/>
            </div>


            <div class="form-group">
                <label>Αριθμός Πρωτοκόλου</label>
                <input type="text" class="form-control" ng-model="num" placeholder="Αριθμός">
              </div>
            <div class="form-group">
                <label>Χρονιά εξερχόμενου Πρωτοκόλου</label>
                <input type="text" class="form-control" ng-model="outYear" placeholder="Χρονιά">
              </div>
              <div class="form-group">
                <label >Θέμα εξερχόμενου Πρωτόκολου</label>
                <input type="text" class="form-control" ng-model="subject" aria-describedby="emailHelp" placeholder="Θέμα">
                <small id="themeHelp" class="form-text text-muted">Βοηθητικό κείμενο.</small>
              </div>
              <div class="form-group">
                <label>Αποδέκτης</label>
                <input type="text" class="form-control" ng-model="receiver" placeholder="Αποδέκτης">
              </div>
              <div class="form-group">
                <label >Κοινοποίηση</label>
                <input type="text" class="form-control" ng-model="shared" aria-describedby="emailHelp" placeholder="Κοινοποίηση">
                <small id="themeHelp" class="form-text text-muted">Βοηθητικό κείμενο.</small>
              </div>
                <label >Ημερομηνία εξόδου</label>
                <input id="datepicker" width="276" type="text" placeholder = "Ημερομηνία εξαγωγής" ng-model="outDate"/>
                <script>
                           $('#datepicker').datepicker({
                            uiLibrary: 'bootstrap4',
                            format: 'dd/mm/yyyy'
                        }); 
     
                </script>

                <div align="center" >
                    <button class="btn btn-primary" ng-click= "outgoing()" >Μετατροπή σε εξερχόμενο</button>
                </div>
