        <h2 align="center" >Mobile Protocol</h2>
        <h4  align="center" >Ενημέρωση πρωτόκολου</h4>
    
            <div align="center">
                <hr/>
                <a class="btn btn-primary" href="#!outgoing" role="button">Εξερχόμενο</a>
                <a class="btn btn-primary" href="#!oikothen" role="button">Οίκοθεν</a>
                <a class="btn btn-primary" href="#!home" role="button">Εισερχόμενο</a>
                <a class="btn btn-primary" href="#!update" role="button">Ενημέρωση πρωτόκολου</a>
                <hr/>
            </div>

            <div class="form-group" ng-hide="num"  >
                <label >Αριθμός Πρωτοκόλου</label>
                <input type="text" class="form-control" ng-model="number" ng-hide="num" placeholder="Αριθμός Πρωτοκόλου">       
              </div>

            <div class="form-group">
                <label >Θέμα Εισερχομένου</label>
                <input type="text" class="form-control" ng-model="subject" aria-describedby="emailHelp" placeholder="Θέμα">
                <small class="form-text text-muted">Βοηθητικό κείμενο.</small>
              </div>


             <div  class="form-group">
                    <label>Αποστολέας</label>
                    <input list="names" class="form-control" ng-model="sender" placeholder="Αποστολέας" />
                    <datalist id="names" >  
                        <option  ng-repeat="x in senders">{{x.name}}</option>
                    </datalist>
                </div>

                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1" ng-click= "swapp()" >
                    <label class="form-check-label">Επισύναψη αρχείου</label>
                  </div>

                <div align="center">
                    <button href='#' class="btn btn-primary" ng-hide="submit" ng-click="Update()" >Submit</button>
                 </div>
                
                    <hr/ ng-hide="file">
                    <form method="POST"  align="center" enctype="multipart/form-data" action="http://localhost:8080/api/upload/">
                        <table>
                            <tr><td ng-hide="file">Επισύναψη Αρχείου:</td><td><input type="file" name="file" ng-hide="file" /></td></tr>
                            <tr><td></td><td><input  type="submit" ng-click= "Update()" onsubmit = "Formvalidation()" formtarget="_blank" value="Update" onclick="window.location.replace='#!home';" ng-hide="file"/></td></tr>
                        </table>
                    </form> 
                    <hr/ ng-hide="file" >

              